@import url(4.css);
form{
    background : pink;
    border-style : none;
    border-width : 1px;
    margin-left : 10px;
    margin-right : 10px;
}
.formspan {
    font-family : gothic;
    font-weight : bold;
    color :blue;
}

/* 위의 불러온것과 아래 쓴것이 충돌날경우 마지막에 선언한것이 우선 */